body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: rgb(210, 231, 230);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
    margin: 150px auto 0px;
    background: rgb(37, 150, 190);
    max-width: 30%;
    height: 400px;
    max-height: 40%;
    padding: 30px;
    border: 10px solid #fff;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
}

.top-bar{
  margin-bottom: 10px;
}
.top-bar svg{
  width: 30px;
  height: 50px;
  color: white;
}

.list-container{
  display: flex;
  flex-direction: column;
  position: relative;
 
}

.item{
  height: 40px;
  background-color: white;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.item img{
    width:50px;
    height: 40px;
}

.top-bar img{
  width:30px;
  height:20px;
  float: right;
  cursor: pointer;
}

.name{
  font-weight: 700;
  font-size: large;
  margin-left: 5px;
}

.active {
  background-color: rgba(37, 37, 168, 0.151);
}

.text{
  width: 60%;
  height: 60%;
  margin-left: 5px;
}

.validate{
  border: 3px solid red;
}

.item button{
  background: rgb(37, 150, 190);
  width: 30%;
  height: 70%;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.navbar li{
  margin-right: 10px;
  margin-bottom: 5px;
}